<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YandereLauncherNET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YandereLauncherNET.My.MySettings>
            <setting name="InitialSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentYandereVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeDefault" serializeAs="String">
                <value />
            </setting>
        </YandereLauncherNET.My.MySettings>
    </userSettings>
</configuration>
